################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleToWebAPI/.vs/ConsoleToWebAPI
/ConsoleToWebAPI/bin/Debug/net6.0
/ConsoleToWebAPI/obj
