################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleToWebAPI/.vs/ConsoleToWebAPI
/ConsoleToWebAPI/bin/Debug/net6.0
/ConsoleToWebAPI/obj
/LearnAPI/bin/Debug/net7.0
/LearnAPI/obj
/ConsoleToWebAPI/.vs/ProjectEvaluation/consoletowebapi.metadata.v7.bin
/ConsoleToWebAPI/.vs/ProjectEvaluation/consoletowebapi.metadata.v7.bin
/ConsoleToWebAPI/.vs/ProjectEvaluation/consoletowebapi.metadata.v7.bin
/ConsoleToWebAPI/.vs/ProjectEvaluation/consoletowebapi.metadata.v7.bin
/ConsoleToWebAPI/.vs/ProjectEvaluation/consoletowebapi.metadata.v7.bin
/ConsoleToWebAPI/.vs/ProjectEvaluation/consoletowebapi.projects.v7.bin
/ConsoleToWebAPI/.vs/ProjectEvaluation
